body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #1f1f1f;
  padding: 20px;
  color: #61dafb;
}

/* for side by side */
/* .status-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
} */
.status-grid {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 20px; /* Add spacing between items */
  /* align-items: center;  */
  width: 100%;
}

/* .status-card {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #1e1e1e;
} */
.status-card {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.operational {
  color: #4caf50;
}

.down {
  color: #f44336;
}

/* .up {
  color: #14ef7e;
} */

.app-footer {
  margin-top: 20px;
  background-color: #1f1f1f;
  padding: 10px;
  color: #61dafb;
}

.incident-logs {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #1e1e1e;
}

.incident-logs ul {
  list-style: none;
  padding: 0;
}

.incident-logs li {
  margin: 10px 0;
}

.resolved {
  color: #4caf50;
}

.unresolved {
  color: #f44336;
}

.graphs {
  margin: 20px 0;
}

.uptime-bar {
  width: 100%;
  height: 25px;
  background-color: #333;
  border-radius: 12px;
  overflow: hidden;
  margin: 10px 0;
}

.uptime-fill {
  height: 100%;
  line-height: 25px;
  color: white;
  text-align: center;
  border-radius: 12px 0 0 12px;
}

.service-link {
  color: white;
  font-size: 18px;
}

/* get updates */

.updates-container {
  /* display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem; */
  position: relative;
  left: 48%;
  transform: translateX(-100%);
  padding: 1rem;
  display: inline-block;
}
.updates-dropdown {
  position: relative;
  display: inline-block;
}

.updates-button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(24, 24, 27);
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.2s;
}

.updates-button:hover {
  background-color: rgb(39, 39, 42);
}

.dropdown-menu {
  position: absolute;
  left: 0;
  margin-top: 0.25rem;
  width: 13rem;
  border-radius: 0.375rem;
  background-color: rgb(24, 24, 27);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(39, 39, 42);
}

.dropdown-content {
  padding: 0.25rem 0;
}

.dropdown-item {
  width: 100%;
  padding: 0.625rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: rgb(39, 39, 42);
}

.dropdown-item-icon {
  color: rgb(14, 14, 230);
  width: 1.25rem;
  height: 1.25rem;
}

.dropdown-item-text {
  color: rgb(14, 14, 236);
  font-size: 1rem;
  font-weight: 400;
}
