{{define "body"}}

<!doctype html>
<html lang="en">
    <head>
        <meta name = "viewport" content = "width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
    </head>

    <body>
        <p>Click the link below to activate your account:</p>
        <a href="{{ .activation_link }}">Activate Account</a>
      </body>
</html>
{{end}}