{{define "body"}}

<!doctype html>
<html lang="en">
    <head>
        <meta name = "viewport" content = "width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
    </head>

    <body>
        <p> <p>The service <strong>{{.service}}</strong> is currently down. Please check the status or take the necessary actions to resolve the issue.</p></p>
    </body>
</html>
{{end}}